.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "content-1 content-2 content-3"
    "footer footer footer";
  grid-gap: 1rem;
}

header {
  grid-area: header;
}

#content-1 {
  grid-area: content-1;
}

#content-2 {
  grid-area: content-2;
}

#content-3 {
  grid-area: content-3;
}

footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content-1"
      "content-2"
      "content-3"
      "footer";
  }
}
